@model Movies

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add Movie
            </h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Movie_Name"></label>
            <input asp-for="Movie_Name" class="form-control"/>
            <span asp-validation-for="Movie_Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Movie_ReleaseDate"></label>
            <input asp-for="Movie_ReleaseDate" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Movie_Rating"></label>
            <input asp-for="Movie_Rating" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Genre"></label>
            <input asp-for="Genre" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Casts"></label>
            <input asp-for="Casts" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add Movie</button>
        <a asp-controller="Movies" asp-action="Index" class="btn btn-secondary style="width:150px>
            Back to Movies list
        </a>
    </div>
</form>